//Variables List for Reuse throughtout application

//Color Pallete
$raisinBlack: #1d1d28;
$blackCoral: #4f5564;
$shadowBlue: #818da0;
$rubyRed: #a30015;
$mintCream: #ebf5ee;

//Font
$appFont: Helvetica, sans-serif;

:export {
  raisinBlack: $raisinBlack;
  blackCoral: $blackCoral;
  shadowBlue: $shadowBlue;
  rubyRed: $rubyRed;
  mintCream: $mintCream;
  appFont: $appFont;
}
